@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular Std';
    src: url('/font/Circular-Std.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

